{% extends 'base.html' %}
{% load static %}

{% block head %}
  

<style>
      /* LOGIN Y REGISTER */
/* Estilos del contenedor */

html {
  box-sizing: border-box;
  font-size: 75%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.forzar{
	position: absolute;
  top: -31px;
  left: 0; 
  z-index: 1;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("{% static 'images/login2.jpg' %}"); 
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 70%;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  background-size: cover;
}

.login-box {
  width: 320px;
  height: 420px;
  background-color: aliceblue;
  color: rgb(119, 105, 209);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 20px;
}

.register {
  width: 420px;
  height: 620px;
}

.login-box .avataricon {
  width: 100px;
  height: 90;
  border-radius: 20%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  font-size: 22px;
  text-align: center;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input {
  border: none;
  border-bottom: 1px solid blueviolet;
  background: transparent;
  outline: none;
  height: 40px;
  color: blueviolet;
}
/* selectores de la barra de navegación */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ecdff1;
  border-radius: 10%;
}

li {
  float: right;
}

li a {
  display: block;
  color: #efddef;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: violet;
}
.active {
  background-color: rgb(119, 105, 209);
}

/* Botón y parte inferior */

input,
textarea {
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: rgb(119, 105, 209);
  outline: none;
  height: 40px;
  font-size: 10px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: violet;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: violet;
}


    </style> 
{% endblock %}
{% block content %}

<!-- aqui va el html de las otras paginas-->


<nav id="navbar">
  <ul>
    <li><a class="active" href="/registrar">REGISTRARSE</a></li>
    <li><a class="active" href="/ingresar">INGRESAR</a></li>
    <li><a class="active" href="/">INICIO</a></li>
  </ul>   
  <a class="forzar" href="/">
  <img src="{% static 'images/icon-brand.png' %}" width="120" height="105" alt="Logo de la empresa"> 
  </a>  
  </nav>

    <div class="login-box">
        <img class="avataricon" src="{% static 'images/icon.png' %}" alt="logo de Quiby">
        <h1>Ingresa aquí</h1>
        <form action="/ingresar/" method="POST">
          {% csrf_token %}
            <label for="docform">Numero de telefono</label>
            <input id="docform" placeholder="ingresa tu número" type="text"  name="username" maxlength="10" pattern="[0-9]+">
    
            <label for="nombreform">Codigo</label>
            <input id="nombreform" placeholder="ingresa tu clave" type="password"  name="password" maxlength="4">
        
    
            <input type="submit">
       
            <a href="/registrar"> No tengo cuenta</a><br>
            <a href="#">¿Olvidaste tu clave?</a>
        </form>

    </div>

{% endblock %}

</html>
