
/* General Styles */
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



}
.seccion-oscura{

background-color: blueviolet;



}

h1,h2{
  font-size: 2.5rem;
  color: white;

}

.h2color{
  color:#A780D1;

}

.experiencia i{
  font-size: 2.5rem;
  color: rgb(147, 137, 215);
  padding: 8px 19px;

}

.progress-bar{

  background-color: violet;
}



/* Hero Section */

.hero{
  background-image: url("../images/white2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 70%;
  height: 600px;
  text-align: center;
  background-size: cover;

}

.Title-Quiby h2{
  font-size:1.5rem;


}
/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: violet;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}


/* selectores de la barra de navegación */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ecdff1;
  border-radius: 10%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #efddef;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: violet;
}
.active {
  background-color: rgb(119, 105, 209);
}


/* Recursos */


.recursos{
  padding: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;


}


.recursos .resources-img{

  width: 10px;

}


/* Navegation Bar */

.navbar{

  padding: 1.2rem;
  background-color: #f5f6f7;
  
}

.navbar-collapse{
align-items: center;
justify-content: space-between;

}

.botton-edit{

  border-color: #242f9b;
  color: #242f9b;
 
}

.botton:hover{

  background-color: #7E5EB3;
  
  color: #7E5EB3;
  
}
.navbar-expand-md{

max-height: 60px;

}


/* informacion */

.experiencia{

padding: 70px;



}
.experiencia .columna{

padding: 20px;
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
transition: all 0.2s ease-in;
border-radius: 7%;

}


.experiencia .columna:hover{

  color:white;
  background-color: blueviolet;
  
  
  }


.seccion-clara{
color:black;
background-color: white;

}
.experiencia-titulo{

  font-size: 25px;
  font-weight: bold;
  margin:10px 0;

}


/* Testimonios */

.testimonios{
  padding: 40px 40px 80px 40px



}
.testimonios .carousel{

max-width: 800px;

}

.carousel-item{
  height: 500px;


}

.carousel-item .container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.testimonio-imagen{

  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;


}

.testimonio-texto{
  max-width: 70%;
  font: 20px;
  text-align: center;


}

.testimonio-info{
font-weight: bold;
text-align: center;


}

.testimonio-info p{

margin-bottom:0;


}
.testimonio-footer .cliente{
font-size: 1.2rem;


}

.testimonio-info .cargo{

font-size: 0.9rem;
color: #656060;

}





/* Pie de pagina (footer) */

footer {
  min-height: 100px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}


@media screen and (max-width:700px) {
  .containerr {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  }
}




.containerr {
  display: flex;
 
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image {
  flex: 1;
  
}

.image img {
  max-width: 100%;
  
  height: auto;
  border-radius: 5%;
}

.text {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.containerr p{

  font-size: 20px;


}